* {
  margin: 0;
  padding: 0;
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.container {
  width: 1141px;
  margin: 0 auto;
}

.header_top {
  height: 100px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.header_top_container {
  height: 100px;
  width: 1141px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brows_button {
  width: 87px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.brows_list {
  width: 262px;
  max-height: 900px;
  background-color: #ffffff;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 39px;
  padding: 20px;
  border: 1px solid #e8e8e8;
}

.brows_mega-item {
  margin-right: 0;
}

.brows_mega-item_mega-hedding {
  width: 222px;
}

.brows_button:hover {
  background-color: #e6e6e6;
}

.brows_button:hover .brows_list {
  display: block;
  z-index: 3;
}

.brows {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 10px;
  padding-left: 15px;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
}

.text_layer {
  height: 6px;
  padding-left: 10px;
  padding-top: 16px;
}

.search_text {
  outline: none;
  width: 264px;
  height: 38px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 16px;
}

.glass {
  width: 36px;
  height: 40px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 0 3px 3px 0;
}

.search_for_item {
  color: #a4a4a4;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: right;
  padding-left: 16px;
}

.trash {
  padding-left: 349px;
}

.button_my_account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  margin-left: 26px;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  border: none;
}

.button_my_account:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.image {
  padding-right: 16px;
}

.brand {
  padding-right: 37px;
}

.header_menu {
  height: 51px;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 680px;
  margin: 0 auto;
  padding-top: 13px;
}

.menu-list .menu-list-last {
  position: relative;
}

.menu-list:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.menu-list-last:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  left: -487px;
}

.menu-list-last:hover .mega-box::before {
  left: 530px;
}

.menu-li {
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.mega-box {
  border-radius: 5px;
  background-color: #ffffff;
  display: none;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  top: 36px;
}

.mega-box:before, .brows_list:before {
  content: "";
  display: block;
  z-index: 1;
  width: 12px;
  height: 12px;
  background-color: aqua;
  position: absolute;
  top: -7px;
  left: 23px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.mega-item {
  margin-right: 45px;
}

.mega-hedding {
  color: #646464;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px;
  margin: 8px;
}

.mega-item_mega-hedding {
  width: 160px;
}

.mega-link {
  text-decoration: none;
  color: #646464;
  line-height: 28px;
  display: block;
}

.mega-link:hover {
  color: #f16d7f;
}

.element_menu {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  padding: 17px 15px;
}

.header_banner {
  background-color: #e8e8e8;
  margin-bottom: 98px;
}

.banner_container {
  width: 1606px;
  height: 665px;
  margin: 0 auto;
}

.banner_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header_banner_right_minibox {
  width: 485px;
  height: 93px;
  padding-left: 241px;
  padding-top: 290px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

.header_banner_right_minibox_left {
  background: #F16D7F;
  width: 12px;
  height: 93px;
}

.banner_title {
  padding-left: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 48px;
  color: #222222;
}

.box_selections {
  margin: 0 auto;
  height: 823px;
  width: 1141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.box_selection_left_top {
  margin-bottom: 20px;
  position: relative;
}

.box_selection_left_bottom {
  position: relative;
}

.box_selection_right_bottom {
  position: relative;
}

.box_selection_right_top {
  margin-bottom: 20px;
  position: relative;
}

.name_box_selection {
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}

.header_name_box_selection {
  color: #222222;
  font-family: lato;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding: 19px 16px 20px;
  text-transform: uppercase;
}

.second_line_header_name_box_selection {
  color: #f16d7f;
  font-size: 39px;
}

.header_card_menu {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  padding-bottom: 16px;
}

.header_card_menu_description {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  letter-spacing: 0.35px;
  padding-bottom: 59px;
}

.box_card {
  margin: 0 auto;
  width: 1139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_product_card {
  width: 261px;
  height: 342px;
  position: relative;
  margin-bottom: 38px;
}

.top_product_card:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.top_product_card:hover .image_card {
  filter: grayscale(99%);
  -webkit-filter: grayscale(99%);
  filter: brightness(50%);
}

.name_card {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
}

.price_card {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  padding-left: 14px;
}

.text_add {
  text-decoration: none;
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
}

.link_add_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  padding: 12px 13px;
}

.add_box {
  position: absolute;
  top: 98px;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: none;
}

.icon_add {
  margin-right: 8px;
}

.top_product_card:hover .add_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link_add {
  text-decoration: none;
}

.link_add_box:hover {
  -webkit-box-shadow: 0 0px 10px 4px #ffffff;
          box-shadow: 0 0px 10px 4px #ffffff;
}

.baplink {
  background-color: #f16d7f;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 23px;
  border: transparent 1px solid;
  width: 169px;
}

.bap {
  margin-top: 46px;
  margin-bottom: 113px;
}

.fa-long-arrow-alt-right:before {
  content: "\f30b";
}

.baplink:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.bran {
  margin-left: 9px;
  margin-top: 13px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-align: center;
}

.logo {
  text-decoration: none;
}

.d {
  margin-right: 37px;
  margin-top: 13px;
  font-family: 'Lato', sans-serif;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
}

.form-search {
  padding-left: 18px;
  margin-top: 13px;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0;
  border-color: #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 277px;
  height: 38px;
}

.header-form button {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}

.browse-menu {
  margin-top: 13px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px;
  margin-left: 35px;
}

.browse-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 9px;
  list-style: none;
}

.browse-menu a {
  font-family: 'Lato', sans-serif;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  margin-left: 13px;
  text-decoration: none;
}

.bannerblack {
  height: 550px;
}

.conteinerbb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: #222224;
  width: 1140px;
  height: 529px;
}

.bb-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bbtxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 39px;
  padding-bottom: 190px;
  width: 293px;
  height: 78px;
}

.bbtxt h1 {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
}

.bbtxt span {
  font-family: 'Lato', sans-serif;
  color: #f16d7f;
  font-size: 53.62px;
  font-weight: 700;
  text-transform: uppercase;
}

.bbtxt p {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 32.17px;
  font-weight: 700;
  text-transform: uppercase;
}

.bb-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 37px;
  padding-bottom: 70px;
  width: 105px;
  height: 100%;
}

.bb-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 12px;
  padding-top: 10px;
  width: 259px;
  height: 100%;
}

.bb-right h3 {
  font-family: 'Lato', sans-serif;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
}

.bb-right P {
  font-family: 'Lato', sans-serif;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.comunity {
  margin-top: 95px;
  height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.comunity-conteiner {
  width: 1140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.com-left {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 110px;
}

.com-left img {
  height: 83px;
}

.com-lefttxt {
  width: 386px;
  height: 68px;
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-left: 28px;
  padding-top: 12px;
}

.com-lefttxts {
  position: absolute;
  top: 210px;
  left: 113px;
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.com-lefttxts b {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.com-center {
  height: 100%;
  width: 1px;
  background-color: white;
}

.com-rightform input {
  width: 310px;
  height: 45px;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: #e1e1e1;
  border: transparent 1px solid;
  padding-left: 18px;
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right-width: 0;
}

.com-rightform button {
  width: 105px;
  height: 45px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #f16d7f 1px solid;
  border-left-width: 0;
  margin-left: -3px;
}

.com-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.com-righttxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
}

.com-righttxt span {
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  line-height: 24px;
}

.com-rightform input:focus, button:focus {
  outline: none;
}

.com-rightform button:active {
  background-color: white;
  color: #f16d7f;
}

.container-footerwrap {
  width: 100%;
  height: 458px;
}

.container-foote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1140px;
  height: 100%;
}

.footer-logotext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 427px;
  margin-top: 18px;
}

.futer-naverap {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 700px;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 51px;
}

.footer-logotext p {
  margin-left: 12px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-align: center;
}

.footer-logotext span {
  margin-right: 37px;
  margin-top: 13px;
  font-family: 'Lato', sans-serif;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
}

.footer-objec p {
  font-family: 'Lato', sans-serif;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  padding-top: 13px;
  margin-left: 0;
}

.futer-naverap {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 700px;
}

.footer-company {
  margin-left: 6px;
}

.footer-information {
  margin-left: 39px;
}

.container-foote h3 {
  font-family: 'Lato', sans-serif;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 85px;
  text-transform: uppercase;
}

.container-foote ul {
  padding-bottom: 25px;
}

.container-foote li, a {
  list-style: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}

.container-foote a:hover {
  color: #f16d7f;
}

.footer {
  background-color: #e6e6e6;
  width: 100%;
  height: 79px;
}

.footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1140px;
  height: 100%;
}

.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 191px;
}

.footer-soc i {
  color: #ffffff;
  font-size: 32px;
}

.copy p {
  font-family: 'Lato', sans-serif;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
}

.footer-soc a:hover i {
  color: #f16d7f;
}

.menu li {
  position: relative;
  list-style-type: none;
}

.menu-link-box {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  top: 70px;
  padding: 20px;
}

.menu-link-box-list {
  background-color: #ffffff;
  margin-right: 40px;
}

.menu-link-box-list:last-of-type {
  margin-right: 0;
}

.menu-link-box-list h3 {
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
  margin-bottom: 8px;
  letter-spacing: 0.35px;
  width: 235px;
}

.menu-link-box-list ul {
  width: 100%;
}

.menu-link-box-list a {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
}

.menu-link-box-list a:hover {
  color: #f16d7f;
}

.menu-box-list-unit {
  margin-top: 22px;
}

.menu-box-list-unit-img {
  position: relative;
  margin-top: 15px;
  margin-left: -20px;
}

.menu-box-unittxt {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

.menu-img-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.pic-box {
  height: 128px;
}

.ssale-link {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-link-box:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 40px;
  border-top: #e8e8e8 1px solid;
  border-left: #e8e8e8 1px solid;
}

.menu li:hover .menu-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-link:hover {
  color: #f16d7f;
}

.last:hover .menu-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
}

.last:hover .menu-link-box:before {
  top: -5px;
  right: 55px;
  left: auto;
}

.last:hover .menu-box-unittxt p {
  -webkit-animation: saleAnim .5s linear 0s infinite normal;
          animation: saleAnim .5s linear 0s infinite normal;
}

.menu li:hover .menu-box-unittxt p {
  -webkit-animation: saleAnim .5s linear 0s infinite normal;
          animation: saleAnim .5s linear 0s infinite normal;
}

.my-acc, .baplink {
  -webkit-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
}

.ssale-link:hover p {
  color: #f16d7f;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: .5s;
  transition: .5s;
}

@-webkit-keyframes saleAnim {
  0% {
    color: white;
  }
  100% {
    color: #f16d7f;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes saleAnim {
  0% {
    color: white;
  }
  100% {
    color: #f16d7f;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.ssale-link:hover {
  -webkit-box-shadow: #f16d7f 0 0 15px;
          box-shadow: #f16d7f 0 0 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.ssale-link p {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.woman:hover {
  -webkit-transform: scale(1.3) translate(100px, -50px);
          transform: scale(1.3) translate(100px, -50px);
  -webkit-box-shadow: #f16d7f 0 0 15px;
          box-shadow: #f16d7f 0 0 15px;
}

.woman:hover .news-txt {
  background-color: #f16d7f;
}

.woman:hover .news-txt h3 {
  color: white;
}

.for-kids:hover {
  -webkit-transform: scale(1.1) translate(50px, 50px);
          transform: scale(1.1) translate(50px, 50px);
  -webkit-box-shadow: #f16d7f 0 0 15px;
          box-shadow: #f16d7f 0 0 15px;
}

.for-kids:hover .news-txt {
  background-color: #f16d7f;
}

.for-kids:hover .news-txt h3 {
  color: white;
}

.news-forman:hover {
  -webkit-transform: scale(1.1) translate(-50px, -50px);
          transform: scale(1.1) translate(-50px, -50px);
  -webkit-box-shadow: #f16d7f 0 0 15px;
          box-shadow: #f16d7f 0 0 15px;
}

.news-forman:hover .news-txt {
  background-color: #f16d7f;
}

.news-forman:hover .news-txt h3 {
  color: white;
}

.accesories:hover {
  -webkit-transform: scale(1.3) translate(-100px, 50px);
          transform: scale(1.3) translate(-100px, 50px);
  -webkit-box-shadow: #f16d7f 0 0 15px;
          box-shadow: #f16d7f 0 0 15px;
}

.accesories:hover .news-txt {
  background-color: #f16d7f;
}

.accesories:hover .news-txt h3 {
  color: white;
}

.box_new_arrivals {
  background-color: #f8f3f4;
}

.new_arrivals {
  margin: 0 auto;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 59px;
}

.header_new_arrivals {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.box_crumbs_element {
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.box_crumbs_element:after {
  content: "/";
  padding-left: 3px;
  padding-right: 3px;
}

.active_element {
  text-decoration: none;
  text-transform: uppercase;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.box_crumbs_element:hover {
  color: #f16d7f;
}

.product_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_menu {
  width: 245px;
  margin-right: 50px;
}

.product_catalog_filter {
  margin-bottom: 48px;
  width: 848px;
  height: 165px;
}

.product_menu_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  margin-bottom: 18px;
}

.header_product_menu_category {
  text-transform: uppercase;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding-left: 11px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fa-chevron-down-menu {
  padding-left: 131px;
}

details[open] .fa-chevron-down-menu {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 95%;
          transform-origin: 95%;
}

.product_menu_category_minibox_left {
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
}

.fa-caret-down:before {
  content: "\f0d7";
  display: block;
  color: #6f6e6e;
  position: absolute;
  right: 6px;
  top: 0;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu_category_list {
  list-style-type: none;
}

.menu_category_element {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  padding-left: 14px;
  display: block;
}

.menu_category_element:hover {
  color: #ef5b70;
}

.box_menu_category_list {
  margin-bottom: 15px;
}

.product_menu_category:hover {
  background: #cdcdcc;
}

.box_header_product_menu_category:hover .header_product_menu_category {
  color: #f16d7f;
}

.product_catalog_filter_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
  height: 74px;
}

.product_catalog_filter_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cdcdcc;
  height: 50px;
}

.product_catalog_filter_top_box_title {
  text-transform: uppercase;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.product_catalog_filter_top_box:nth-child(1) {
  width: 177px;
}

.product_catalog_filter_top_box:nth-child(2) {
  width: 236px;
}

.product_catalog_filter_top_box:nth-child(3) {
  width: 263px;
}

.trending_now_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.trending_now .trending_now_end {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.trending_now::after {
  content: "|";
  padding-left: 6px;
  padding-right: 6px;
}

.trending_now:hover {
  color: #f16d7f;
}

.trending_now_end:hover {
  color: #f16d7f;
}

.label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-right: 21px;
}

.form-range {
  width: 260px;
}

.product_catalog_filter_top_box_title_end {
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.button_sort_by, .button_name, .button_show, .button_date {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  height: 30px;
  width: 70px;
  margin-left: 9px;
  border-radius: 0px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}

.button_name {
  margin-left: 0;
  width: 100px;
}

.button_date {
  margin-left: 0;
}

.button_sort_by:hover, .button_name:hover, .button_show:hover, .button_date:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.product_catalog_cards {
  width: 848px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */